html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

* {
	font-family: "Helvetica Nueue", "Helvetica", "Arial", sans-serif;
	color: #fff;
	letter-spacing: 1px;
}

body {
	/*background-image: url("../images/bg1.jpg");*/
	background-color: #181818;
	font-size: 14px;
	min-width: 720px;
}


#playingBarContainer {
	width: 100%;
	min-width: 620px;
	bottom: 0;
	position: fixed;
	background-color: #282828;
}

#playingBar {
	display: flex;
	height: 90px;
	padding: 16px;
	box-sizing: border-box;

}

#playingBarLeft,
#playingBarRight {
	width: 30%;
	min-width: 180px;
}

#playingBarRight {
	position: relative;
	margin-top: 16px;
}

#playingBarCenter {
	width: 40%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#playingBar .content {
	width: 100%;
	height: 57px;
}

.playerControls .buttons {
	margin: 0 auto;
	display: table;
}

.buttons .controlButton {
	background-color: transparent;
	border: none;
	vertical-align: middle;
}

.controlButton img {
	width: 20px;
	height: 20px;
}

.controlButton.play img,
.controlButton.pause img {
	width: 32px;
	height: 32px;
}

.controlButton:hover {
	cursor: pointer;
}

.controlButton:focus {
	outline: none;
}

.progressTime {
	color: #a0a0a0;
	font-size: 11px;
	min-width: 40px;
	text-align: center;
}

.progressBar {
	width: 100%;
	height: 12px;
	display: inline-flex;
	cursor: pointer;
}

.playBackBar {
	display: flex;
}

.progressBarBg {
	background-color: #404040;
	width: 100%;
	height: 4px;
	border-radius: 2px;
}

.progress {
	background-color: #a0a0a0;
	width: 0%;
	height: 4px;
	border-radius: 2px;
}

.playBackBar .progressBar {
	margin-top: 3px;
}

#playingBarLeft .albumArtwork {
	height: 100%;
	max-width: 57px;
	margin-right: 15px;
	float: left;
	background-size: cover;
}

#playingBarLeft .trackInfo {
	display: table;
}

#playingBarLeft .trackInfo .trackName {
	margin: 6px 0;
	display: inline-block;
	width: 100%;
}

#playingBarLeft .trackInfo .artistName span {
	font-size: 12px;
	color: #a0a0a0;
}

.volumeBar {
	width: 180px;
	position: absolute;
	right: 0;
}

.volumeBar .progressBar {
	width: 125px;
	display: inline-block;
}

#topContainer {
	min-height: 100%;
	width: 100%;
}

#navBarContainer {
	background-color: #000;
	width: 220px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;

}

.navBar {
	padding: 25px;
	display: flex;
	flex-direction: column;
}

.logo {
	margin-bottom: 15px;
}

.logo img {
	width: 100%; 
}

.navBar {
	text-align: center;
}

.navBar .group {
	padding: 10px 0;
	border-top: 1px solid #a0a0a0;
}

.navItem {
	padding: 10px 0;
	font-size: 14px;
	font-weight: 700;
	display: block;
	letter-spacing: 1px;
	position: relative;
}

.navItem .navLog {
	background-color: #f45905;
	border: none;
	border-radius: 250px;
	color: #000;
	display: block;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 20px auto;
	height: 41px;
	width: 100%;
}

.navItem button:hover {
	cursor: pointer;
	color: #fff;
}

.navItemLink {
	color: #a0a0a0;
	text-decoration: none;
}

.navItemLink:hover {
	color: #ffffff;
}

.navItemLink .search-icon {
	position: absolute;
	right: 0;
	top: 6px;
	width: 25px;
}

.navItem .navItemLink .navLog:focus {
	outline: none;
}

#mainViewContainer {
	margin-left: 220px;
	padding-bottom: 90px;
	width: calc(100%-220px);
}

#mainContent {
	padding: 0 20px;
}

.pageHeadingBig {
	padding: 20px;
	text-align: center;
}

.gridViewItem {
	display: inline-block;
	margin-right: 20px;
	width: 29%;
	max-width: 200px;
	min-width: 150px;
	text-align: center;

}

.gridViewItem img {
	width: 100%;
	padding-bottom: 12px;
}

.gridViewItem a {
	text-decoration: none;
}

.gridViewContainer {
	text-align: center;
}

.gridViewContainer .gridViewItem .gridViewInfo {
	padding-bottom: 25px;
}

.entityInfo {
	padding: 40px 0 10px 0;
	width: 100%;
	display: inline-block;
}

.entityInfo .leftSection {
	width: 30%;
	float: left;
	max-width: 250px;

}

.entityInfo .leftSection img {
	width: 100%;
}

.entityInfo .rightSection {
	width: 70%;
	float: right;
	/*padding: 5px 10px 5px 40px;*/
	padding: 7px 0 0 0;
	box-sizing: border-box;
}

.entityInfo .rightSection h2 {
	margin-top: 0;
}

.entityInfo .rightSection p {
	color: #939393;
	font-weight: 200;
}

.trackList {
	padding: 0;
}

.trackListRow {
	height: 40px;
	padding: 15px 10px;
	list-style: none;
}

.trackListRow:hover {
    background-color: #282828;
}

.trackListRow .trackCount {
    width: 8%;
    float: left;
}

.trackListRow .trackCount img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.trackListRow:hover .trackCount img {
    visibility: visible;
}

.trackListRow .trackCount span {
    visibility: visible;
}

.trackListRow:hover .trackCount span {
    visibility: hidden;
}

.trackListRow .trackInfo {
	width: 75%;
	float: left;
}

.trackListRow .trackInfo span {
	display: block;
}

.trackListRow .trackOptions {
	width: 5%;
	text-align: left;
	float: left;
}

.trackListRow .trackOptions img {
	width: 15px;
	visibility: hidden;
}

.trackListRow:hover .trackOptions img {
	visibility: visible;
	cursor: pointer;
}

.trackListRow .trackDuration {
	width: 12%;
	float: left;
	text-align: right;
}

.trackListRow .trackDuration span {
	color: #939393;
}

.trackListRow .trackInfo .trackName {
	margin-bottom: 7px;
	color: #ffffff;
}

.trackListRow .trackInfo .artistName {
	color: #939393;
}

/*Artist Page*/

.artistInfo {
	text-align: center;
}

.button {
	color: #fff;
	cursor: pointer;
	margin-bottom: 10px;
	background-color: transparent;
	font-weight: 500;
	letter-spacing: 2px;
	border: 2px solid #fff;
	border-radius: 500px;
	padding: 15px;
	min-width: 130px;
}

.button.orange {
	background-color: #f45905; 
	border-color: #f45905;
}

.borderBottom {
	border-bottom: 1px solid #939393;
	margin-bottom: 20px;
}

.trackListContainer h2,
.gridViewContainer h2,
.artistsContainer h2 {
	text-align: center;
}

[role="link"] {
	cursor: pointer;
}

[role="link"]:focus {
	outline: none;
}
button:focus {
	outline: none;
}

.searchContainer {
	background-color: #242424;
	padding: 20px 28px;
}

.searchContainer h4 {
	margin: 0;
	font-weight: 300;
}

.searchContainer .searchInput {
	width: 100%;
	background-color: transparent;
	border: none;
	color: #fff;
	font-weight: 700;
	font-size: 62px;
	letter-spacing: 2px;
}

input:focus {
	outline: none;
}

.searchResultRow {
	padding: 15px 10px;
}

.searchResultRow:hover {
	background-color: #282828;
}

.searchResultRow .artistName span {
	color: #fff;
}

.noResults {
	margin: 15px;
	display: block;
	text-align: center;
}

.buttonItems .button {
	margin: 0 auto 20px auto;
	display: block;
}

.playlistsContainer {
	padding: 10px 0;
}

.playlistImage {
	border: 3px solid #282828;
	padding: 10px;
}

.optionsMenu {
	position: fixed;
	background-color: #282828;
	width: 200px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	z-index: 1000;
	display: none;
}

.optionsMenu .item {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: 400;
    color: rgba(147, 147, 147, 0.8);
    cursor: pointer;
    height: 40px;
    background-color: #282828;
    font-size: 14px;
}

.optionsMenu .item:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.optionsMenu select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.userInfo h1 {
    text-align: center;
}

.userDetails {
    padding: 20px;
}

.userDetails .container h2 {
    text-align: center;
}

.userDetails .container input[type="text"],
.userDetails .container input[type="password"],
.userDetails .container .button {
    display: block;
    margin: 16px auto;
}

.userDetails .container .button:hover {
	background-color: #f45905;
}

.userDetails .container input[type="text"],
.userDetails .container input[type="password"] {
    height: 50px;
    width: 100%;
    background: #1f1f1f;
    border: none;
    font-size: 18px;
    font-weight: 300;
    padding: 0 20px;
}

.userDetails .container .message {
    color: #f45905;
    font-weight: 300;
}
